* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.logo{
  height: 150px;
  width: 200px;
  justify-content: left;
}
nav{
    background: lightcoral;
    width: 100%px;
    height: 150px;
}
nav ul{
    float: right;
    display: flex;
    list-style: none;
}
nav ul li a{
    color: white;
    line-height: 150px;
    padding: 30px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 10px;
}
nav ul li a:hover{
    background: coral;
}
h1{
    text-align: center;
    font-size: 60px;
    color: #76528bff;
    padding-top: 50px;
}
p{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #d198c5ff;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 30px;
    height: 800px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 100px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #000;
    padding-top: 5px;
    font-weight: bolder;
    background-color: aliceblue;
}

.description h4 {
    display: inline;
    background: #000;
    opacity: 50%;
    padding: 10px;
    
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('assets/slider1.jpg');

}
.card[for="c2"] {
    background-image: url('assets/slider2.jpg');
}
.card[for="c3"] {
    background-image: url('assets/slider3.jpg');
}
.card[for="c4"] {
    background-image: url('assets/slider4.jpg');
}

.section__container {
    max-width: 1500px;
    margin: auto;
    padding: 30px;
  }
  img {
    padding: 45px;
    height: 400px;
    width: 700px;
    display: inline-block;
    border-radius: 60px;
  }

  
.classes__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.classes__image {
  margin-top: -70px;
  position: relative;
  overflow: hidden;
}

.classes__content {
  position: absolute;
  left: 0;
  bottom: -100%;
  margin-left: 40px;
  margin-bottom: 40px;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  background-image: linear-gradient(to top, lightpink, transparent);
  transition: 0.5s;
}

.classes__image:hover .classes__content {
  bottom: 0;
}

.btn {
  margin-right: 20px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(226, 66, 119);  
  border-radius: 5rem;
  cursor: pointer;
}
.hero {
  background-color: lightpink;
}

.hero__container {
  
  margin-left: 100px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.hero__card span {
  margin-bottom: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 130px;
  background-color: wheat;
  border-radius: 100%;
}

.hero__card span img {
  max-width: 180px;
  height: 130px;
}

.hero__card h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: blueviolet;
}

.hero__card p {
  margin-left: -150px;
  line-height: 1.5rem;
  color: black;
}
video{
  margin-left: 200px;
  height: 500px;
  width: 400px;
  border-radius: 15px;
  padding: 25px;
}
video:hover{
  background: lightblue;
  
}

h3{
  color: purple;
  text-align: center;
  font-size: 55px;
  cursor: pointer;
}
.blink {
  animation: blinker 1.5s linear infinite;
  color: peru;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 15px;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}
footer {
  color: #000;
  text-align: center;
  padding: 20px;
 background: paleturquoise;
  font-size: 15px;
}
